/* header */
.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.headerIcon {
  width: 30%;
  height: 100%;
  background-color: #ff8c00;
  position: absolute;
}

/* topMenu */

.topMenu {
  width: 100%;
  height: 50px;
  background-color: #a0a0a0;
  position: relative;
}

.topMenus {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5vw;
}

.topMenus li {
  padding: 0 2% 0 2%;
}

.topImages {
  width: 100%;
  margin-bottom: 2%;
}

.topImage1 {
  width: 100%;
  object-fit: cover;
}

/* topNews */

.topNews {
  width: 100%;
  height: 100px;
  background-color: #ffc68e;
  display: flex;
  margin-bottom: 1%;
}

.topNewsLeft {
  width: 30%;
  height: 100px;
  position: relative;
  padding: 10px;
}

.topNewsRight {
  width: 70%;
  height: 100px;
  padding: 10px 0 10px 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.topNews1,
.topNews2 {
  width: 85%;
  padding-left: 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.newsIcon {
  width: 25%;
  height: 45%;
  background-color: #ff8c00;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: 0;
}
.newsIcon p {
  font-size: 1.5vw;
}

.newsDay,
.newsText {
  font-size: 1.2vw;
}

.newsText {
  width: 95%;
  padding-left: 2%;
  padding-right: 2%;
}

.topNewsSeparateBar {
  width: 90%;
  height: 1px;
  background-color: #000;
}

/* subHeading */
.subHeading {
  width: 100%;
  /* height: 200px; */
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.subHeadingText {
  width: 30%;
  height: 60%;
  word-wrap: break-word;
  font-size: 1.5vw;
}

/* subImages */
.subImagesContena {
  padding: 2% 0 7% 0;
  background-color: #000;
}

.subImages {
  width: 100%;
  display: flex;
}

.Upper,
.Lower {
  display: flex;
  justify-content: center;
}

.Upper {
  margin-bottom: 2%;
  z-index: 3;
}

.subImage.siu2 {
  width: 62%;
}

.siu1,
.sil1,
.sil2 {
  margin-right: 2%;
}
.subImage {
  width: 30%;
  height: 23vw;
  object-fit: cover;
  display: block;
}

/* facilityContena */
.facilityContena {
  width: 100%;
  padding-bottom: 3%;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.facilityLink {
  width: 70%;
  padding-bottom: 3%;
  background-color: #fff575;
  position: relative;
}

.facilityImage {
  width: 70%;
}

.facilityLinkTextArea {
  position: absolute;
  top: 9%;
  right: 5%;
  text-align: center;
}

.facilityLinkTitle {
  font-size: 2.3vw;
}

.facilityLinkText {
  font-size: 1.5vw;
}

.facilityLinkButtonArea {
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 5% 0 10% 0;
}

.facilityLinkButton {
  width: 80%;
  padding: 0 4% 0 4%;
  display: flex;
  justify-content: center;
}

.facilityLinkButtonImg {
  width: 34%;
  display: flex;
  justify-content: center;
}

.facilityLinkButtonImg img {
  width: 60%;
}

/* paddleInfo */

.paddleInfoTitle {
  margin-bottom: 3%;
  font-weight: bold;
}

.paddleInfoLink {
  display: flex;
  justify-content: center;
}

.paddleInfoLinkBody {
  width: 80%;
  padding: 4%;
  background-color: #99ff00;
  display: flex;
}

.paddleInfoLinkLeft,
.paddleInfoLinkRight {
  width: 33%;
}

.paddleInfoLinkLeft .pilimage:first-child,
.paddleInfoLinkRight .pilimage:first-child {
  margin-bottom: 5%;
}

.paddleInfoLinkCenter {
  width: 34%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.paddleInfoLinkCenterRack p {
  width: 70%;
  text-align: center;
  font-size: 1.2vw;
  word-break: break-all;
}

.paddleInfoLinkCenterRack {
  display: flex;
  justify-content: center;
  /* flex-flow: column; */
}

.paddleInfoLinkCenterRack img {
  width: 60%;
}

.pilimage {
  /* width: 30%; */
  height: 15vw;
  /* height:33%; */
  object-fit: cover;
  display: block;
}

/* PickUp */
.pickUpTitle {
}

.pickUpContents {
  width: 100%;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-around;
}

.pickUp {
  width: 27%;
}

.pickUp img {
  height: 17vw;
  object-fit: cover;
}

.pickUp p {
  word-wrap: break-word;
  font-size: 1.5vw;
}

/* access */
.accessContena {
  width: 100%;
  background-color: yellow;
  padding: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.accessImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.accessImage img {
  width: 60%;
}

.accessLinkButtonArea {
  width: 100%;
  display: flex;
  justify-content: center;
}
.accessLinkButtonBody {
  width: 70%;
  display: flex;
  justify-content: center;
}

.accessLinkButton {
  width: 80%;
  display: flex;
  justify-content: center;
}

.accessLinkButton div {
  width: 34%;
  display: flex;
  justify-content: center;
}

.accessLinkButton div img {
  width: 60%;
}

/* ＝＝汎用プロパティ＝＝ */
/* positionCenter 中央配置 */
.pc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentsTitle {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 0.2vw;
}

.detailLinkButton {
}
