/* ================================= */
/* header */
/* ================================= */
.header {
  width: 100%;
  height: 6vw;
  position: relative;
}

.headerIcon {
  width: 30%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.headerIcon img {
  width: 45%;
  object-fit: contain;
}

/* ================================= */
/* topMenu */
/* ================================= */
.topMenu {
  width: 100%;
  height: 2.5vw;
  background-color: #00263f;
  position: relative;
}

.topMenus {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 0.8vw;
}

.topMenus li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2% 0 2%;
}

.topMenus li:hover {
  background-color: #fff;
}
/* ================================= */
/* topImages */
/* ================================= */
.topImages {
  width: 100%;
  position: relative;
  height: 44vw;
  margin-bottom: 3%;
}

.topImage {
  width: 100%;
  /* height: 85vw; */
  object-fit: cover;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.active {
  width: 100%;
}
/* ================================= */
/* topNews */
/* ================================= */

.topNews {
  width: 100%;
  height: 5vw;
  background-color: rgba(247, 119, 0, 0.5);
  display: flex;
  margin-bottom: 4%;
}

.topNewsLeft {
  width: 30%;
  height: 100%;
  position: relative;
  padding: 10px;
}

.topNewsRight {
  width: 70%;
  height: 100%;
  padding: 0 0 0 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.topNewsContent {
  width: 85%;
  padding-left: 2%;
  display: flex;
}

.newsIcon {
  width: 25%;
  height: 45%;
  background-color: rgba(247, 119, 0, 0.9);
  border-radius: 20px;
  color: #fff;
  position: absolute;
  right: 0;
}
.newsIcon p {
  font-size: 1vw;
}

.newsDay,
.newsText {
  font-size: 0.8vw;
  line-height: 100%;
}

.newsText {
  width: 95%;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topNewsSeparateBar {
  width: 90%;
  height: 1px;
  margin: 0.8% 0 0.8% 0;
  background-color: #000;
}
/* ================================= */
/* subHeading */
/* ================================= */
.subHeading {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.subHeadingText {
  width: 30%;
  height: 60%;
  word-wrap: break-word;
  font-size: 1.3vw;
}
/* ================================= */
/* subImages */
/* ================================= */
.subImagesContena {
  padding: 2% 0 2% 0;
  background-color: #000;
}

.subImages {
  width: 100%;
  display: flex;
}

.Upper,
.Lower {
  display: flex;
  justify-content: center;
}

.Upper {
  margin-bottom: 2%;
  z-index: 3;
}

.subImage.siu2 {
  width: 62%;
}

.siu1,
.sil1,
.sil2 {
  margin-right: 2%;
}
.subImage {
  width: 30%;
  height: 23vw;
  object-fit: cover;
}

.subImage0 {
  animation: slide 7s infinite;
}
.subImage1 {
  animation: slide 17s infinite;
}
.subImage2 {
  animation: slide 10s infinite;
}
.subImage3 {
  animation: slide 21s infinite;
}
.subImage4 {
  animation: slide 8s infinite;
}
/* ================================= */
/* facilityContena */
/* ================================= */
.facilityContena {
  width: 100%;
  padding-bottom: 3%;
  background-color: #000;
  display: flex;
  justify-content: center;
  /* 一時的に非表示 */
  display: none;
}

.facilityLink {
  width: 70%;
  padding-bottom: 3%;
  background-color: #fff575;
  position: relative;
}

.facilityImage {
  width: 70%;
}

.facilityLinkTextArea {
  position: absolute;
  top: 9%;
  right: 5%;
  text-align: center;
}

.facilityLinkTitle {
  font-size: 2.3vw;
}

.facilityLinkText {
  font-size: 1.5vw;
}

.facilityLinkButtonArea {
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 5% 0 10% 0;
}

.facilityLinkButton {
  width: 80%;
  padding: 0 4% 0 4%;
  display: flex;
  justify-content: center;
}

.facilityLinkButtonImg {
  width: 34%;
  display: flex;
  justify-content: center;
}

.facilityLinkButtonImg img {
  width: 60%;
}

/* ================================= */
/* paddleInfo */
/* ================================= */
.paddleInfoTitle {
  margin-bottom: 3%;
  font-weight: bold;
}

.paddleInfoLink {
  display: flex;
  justify-content: center;
}

.paddleInfoLinkBody {
  width: 80%;
  padding: 4%;
  background-color: #99ff00;
  display: flex;
}

.paddleInfoLinkLeft,
.paddleInfoLinkRight {
  width: 33%;
}

.paddleInfoLinkLeft .pilimage:first-child,
.paddleInfoLinkRight .pilimage:first-child {
  margin-bottom: 5%;
}

.paddleInfoLinkCenter {
  width: 34%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.paddleInfoLinkCenterRack p {
  width: 70%;
  text-align: center;
  font-size: 1.2vw;
  word-break: break-all;
}

.paddleInfoLinkCenterRack {
  display: flex;
  justify-content: center;
}

.paddleInfoLinkCenterRack img {
  width: 60%;
}

.pilimage {
  height: 15vw;
  object-fit: cover;
  display: block;
}

/* ================================= */
/* PickUp */
/* ================================= */
.pickUpContena {
  margin-top: 5%;
}

.pickupTitle {
  margin-bottom: 2%;
}

.pickUpContents {
  width: 100%;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-around;
}

.pickUp {
  width: 27%;
}

.pickUp img {
  height: 17vw;
  object-fit: cover;
}

.explainPickup {
  word-wrap: break-word;
  font-size: 1.2vw;
}

/* ================================= */
/* access */
/* ================================= */
.accessContena {
  width: 100%;
  background-color: yellow;
  padding: 2% 0 4% 0;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 8% 0 5% 0;
  position: relative;
}

.accessBackImage {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  top: 0;
}

.accessTitle {
  z-index: 2;
  padding-bottom: 2%;
}

.accessImage {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.accessImage img {
  width: 60%;
}

.accessLinkButtonArea {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding-top: 2%;
}
.accessLinkButtonBody {
  width: 70%;
  display: flex;
  justify-content: center;
}

.accessLinkButton {
  width: 80%;
  display: flex;
  justify-content: center;
}

.accessLinkButton div {
  width: 34%;
  display: flex;
  justify-content: center;
}

.accessLinkButton div img {
  width: 60%;
}

/* ================================= */
/* footer */
/* ================================= */

.footer {
  height: 8vw;
  background-color: rgba(0, 38, 63, 0.7);
  position: relative;
}

.copyLight {
  width: 25%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerLogo {
  width: 40%;
  height: 40%;
  object-fit: contain;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyLightText {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  letter-spacing: 0.1em;
  font-size: 0.9vw;
}
.footerIcons {
  display: flex;
  width: 11%;
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}
.footerIcon {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-flow: column;
}

.footerIcon div {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.footerIcon img {
  object-fit: contain;
  width: 60%;
  display: flex;
  justify-content: center;
}

.footerIcon p {
  text-align: center;
  font-size: 1vw;
}

/* ＝＝汎用プロパティ＝＝ */
/* positionCenter 中央配置 */
.pc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentsTitle {
  width: 100%;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 0.2vw;
}

@keyframes slide {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
