/* header */
.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.headerIcon {
  width: 30%;
  height: 100%;
  background-color: #ff8c00;
  position: absolute;
}

/* topMenu */

.topMenu {
  width: 100%;
  height: 50px;
  background-color: #a0a0a0;
  position: relative;
}

.topMenus {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5vw;
}

.topMenus li {
  padding: 0 2% 0 2%;
}

.topImages {
  width: 100%;
  margin-bottom: 2%;
}

.topImage1 {
  width: 100%;
  object-fit: cover;
}

/* topNews */

.topNews {
  width: 100%;
  height: 100px;
  background-color: #ffc68e;
  display: flex;
  margin-bottom: 1%;
}

.topNewsLeft {
  width: 30%;
  height: 100px;
  position: relative;
  padding: 10px;
}

.topNewsRight {
  width: 70%;
  height: 100px;
  padding: 10px 0 10px 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.topNews1,
.topNews2 {
  width: 85%;
  padding-left: 2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.newsIcon {
  width: 25%;
  height: 45%;
  background-color: #ff8c00;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: 0;
}
.newsIcon p {
  font-size: 1.5vw;
}

.newsDay,
.newsText {
  font-size: 1.2vw;
}

.newsText {
  width: 95%;
  padding-left: 2%;
  padding-right: 2%;
}

.topNewsSeparateBar {
  width: 90%;
  height: 1px;
  background-color: #000;
}

/* subHeading */
.subHeading {
  width: 100%;
  height: 200px;
  position: relative;
}

.subHeadingText {
  width: 30%;
  height: 60%;
  word-wrap: break-word;
  font-size: 1.5vw;
}

/* subImages */
.subImagesContena {
  padding-top: 2%;
  background-color: #000;
}

.subImages {
  width: 100%;
  display: flex;
}

.Upper,
.Lower {
  display: flex;
  justify-content: center;
}

.Upper {
  margin-bottom: 2%;
  z-index: 3;
}

.subImage.siu2 {
  width: 62%;
}

.siu1,
.sil1,
.sil2 {
  margin-right: 2%;
}
.subImage {
  width: 30%;
  height: 23vw;
  object-fit: cover;
  display: block;
}

/* ＝＝汎用プロパティ＝＝ */
/* positionCenter 中央配置 */
.pc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
